# Dépendances
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Coverage tests
coverage/

# Build
dist/
build/

# Variables d'environnement
.env
.env.local
.env.*.local

# Cache
.cache/
.npm/